.modalViewArea{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.53);
    backdrop-filter: blur(5px);
    z-index: 997;
    transition: .5s ease-in-out;
    opacity: 1;
    pointer-events: all;
    display: flex;
    justify-content: center;
    overflow-y: hidden; 
}

.modalViewArea.hide{
    opacity: 0;
    pointer-events: none;
    transition: .5s .6s ease-in-out;
}

.box-modalViewArea{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 100px 0;
    transform: translateY(0);
    transition: .8s .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modalViewArea.hide .box-modalViewArea{
    transform: translateY(-200vh);
    transition: .8s ease-in-out;
}

.top-bar-info{
    width: 65%;
    height: 100px;
    background: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 100%;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    border-radius: 10px;
}

.top-bar-info > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title-area h2{
    font-size: 1.4rem;
    font-weight: 600;
}

.top-bar-info img#viewImgArea {
    height: 150px;
    width: 150px;
    border-radius: 7px;
    border: 3px solid white;
    object-fit: cover;
    object-position: center;
    margin-right: 30px;
}

.top-bar-info input{
    background: none;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.05rem;
    width: 40%;
    margin-left: 10px;
    color: white;
}

.info-professor img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 13px;
}

.info-professor a{
    color: #fff;
    text-transform: capitalize;
}


span#closeModalViewArea{
    padding: 10px 40px;
    background: #00a6ff; 
    border-radius: 7px;
    color: #fff ;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translateY(-50%);
    transition: .5s ease-in-out;
    cursor: pointer;
}

span#closeModalViewArea:hover{
    transform: translateY(-50%) scale(1.04);
    box-shadow: -7px 5px rgba(255, 255, 255, 0.13);
}


.box-info-view-area{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content:center;
    height: auto;
    padding-top: calc((150px / 5) + 20px); /* Tamanho da foto */
    opacity: .85;
}

.box-info-view-area form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(224, 224, 224);
    padding: 40px 50px;
    position: relative;
    z-index: 1;
    border-radius: 40px 0;
}

.box-info-view-area form .input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
}

.box-info-view-area form .input-group label{
    font-weight: bold;
}


.box-info-view-area form .input-group input:not(input[type="file"]){
    border: none;
    /* border-bottom: 1px solid #333; */
    padding: 7px;
    background: none;
    outline: none;
    background: white;
    border-radius: 6px;
    margin-top: 3px;
    text-transform: capitalize;
}

.box-info-view-area form .input-group #vDescricao{
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    margin: 8px 0 0 0;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    font-size: .9rem;
}


.box-info-view-area form input[type="submit"]{
    padding: 8px 40px;
    background: #09f;
    border: none;
    outline: none;
    color: white;
    margin-top: 13px;
    transition: .5s ease-in-out;
    cursor: pointer;
    border-radius: 7px;
}

.box-info-view-area form input[type="submit"]:hover{
    transform: scale(1.1);
}


@media (max-width: 480px){
    .modalViewArea{
        min-height: 100vh;
    }
    .box-modalViewArea{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .top-bar-info{
        width: 90%;
        height: 120px;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    .info-title-area h2{
        font-size: .9rem;
    }
    .info-img-area{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,94%);
        z-index: 50;
    }
    .top-bar-info img#viewImgArea {
        width: 180px;
        height: 160px;
        margin-right: 0px;
    }
    span#closeModalViewArea{
        top: 0;
        right: 100%;
        transform: translate(110%, -50%);
    }
    .info-professor img{
        width: 30px;
        height: 30px;
    }
    .info-professor a{
        font-size: .8rem;
    }
    .box-info-view-area{
        width: 85%;
        padding-top: calc(180px - 40px); /* Tamanho da foto */

    }
    .box-info-view-area form{
        width: 100%;
        padding: 30px 35px;
    }

}